body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

h1 {
  margin-top: 50px;
}

.menu button {
  padding: 15px 25px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #22c55e;
  cursor: pointer;
}

.menu button:hover {
  background: #16a34a;
}
